body {
  margin: 2em;
}
.Products {
  display: flex;
  flex-wrap: wrap;
  border: groove black;
  border-width: 2px;
  margin: 0.5em;
}
.Products > * {
  margin: 2em;
  padding: 0.5em 1.5em;
  border: groove black;
  border-width: 2px;
  border-radius: 25px;

}
.Buttons sup {
  margin: 0.25em 1em;
  color: white;
  display: inline-block;
  background-color: tomato;
  padding: 0.25em 0.5em;
  border-radius: 25px;
}
.Buttons {
  display: grid;
  grid-template-columns: repeat(10  , 1fr);
  grid-template-rows: 1fr 1fr;
}